body {
    background-image: url(../images/introduction1_back.jpg);
    background-size: 100%;

}


.header {
    text-align: center;
}

.navi {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 2px ;
    border-top: solid 2px ;
    background-color: white;
}


nav {
    text-align: center;
}
 
nav ul {
    margin: 0 ;
    padding: 0 ;
}
 
nav ul li{
    list-style: none;
    display: inline-block;
    width: 20%; 
    background-color: rgb(210, 210, 210);
    padding: 10px;
}
 
nav ul li a {
    text-decoration: none;
    color: #333;
}


.radiusleft li {
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
}

.radiusright li {
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
}

nav li:hover{
    border: solid 3px rgb(75, 75, 75);
    opacity: 0.5;

}

.main {
    background-color: white;
    padding: 10px;
    
}

.whois {
    text-align: center;
}

.center {
    text-align: center;
}

